<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Registration form</title>
</head>
<body>
	<h1>Registration form</h1>
	<form action="#" method="post" th:action="@{/register}"
		th:object="${userFormTO}">
		<p th:errors="*{email}">Email errors</p>
		<input th:field="*{email}" type="email" placeholder="Email" /><br />
		<br />
		<p th:errors="*{firstName}">First name errors</p>
		<input th:field="*{firstName}" placeholder="First name" /><br />
		<br />
		<p th:errors="*{lastName}">Last name errors</p>
		<input th:field="*{lastName}" placeholder="Last name" /><br />
		<br />
		<p th:errors="*{password}">Password errors</p>
		<input th:field="*{password}" type="password" placeholder="Password" /><br />
		<br />
		<p th:errors="*{rePassword}">Password errors</p>
		<input th:field="*{rePassword}" type="password" placeholder="Re-enter password" /><br />
		<br />
		<input type="submit" value="Register" />
	</form>
</body>
</html>